@media (max-width: 768px) {

    body {
        background-image: url(assets/destination/background-destination-mobile.jpg);
        background-size: cover;
        color: white;
        padding: 0vh 5vw;

    }

    h1 {
        font-size: 5em;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        height: auto;
        align-items: center;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .planet {
        width: 13rem;
        height: 13rem;
        animation: rotate 6s infinite linear;
    }

    .destination-list {
        display: flex;
        gap: 8vw;
        margin: 3vh 0vw 0vh 0vw;
    }

    .active-section {
        border-bottom: solid 3px white;
        padding: 1vh;
    }

    .planet-info {
        padding-bottom: 3vh;
        margin-bottom: 2vh;
        border-bottom: solid 1px rgba(255, 255, 255, 0.622);
    }

    .travel-time {
        margin-top: 2vh;
    }
}

@media (min-width: 769px) {

    body {
        background-image: url(assets/destination/background-destination-desktop.jpg);
        background-size: cover;
        color: white;
    }

    h1 {
        font-size: 5em;
    }

    .page-title {
        margin-top: -14vh;
        margin-bottom: 10vh;
    }

    .destination-list {
        display: flex;
        gap: 2vw;
    }

    .active-section {
        border-bottom: solid 3px white;
        padding: 1.25vh 0vw;
    }

    .planet-info {
        padding-bottom: 3vh;
        margin-bottom: 2vh;
        border-bottom: solid 1px var(--line-clr);
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: end;
        gap: 5vw;
        height: 90vh;
    }



    .planet {
        width: 19rem;
        height: 19rem;
        animation: rotate 6s infinite linear;
    }

    .travel-info {
        display: flex;
        gap: 4vw;
    }

    .travel-info div {
        display: flex;
        flex-direction: column;
    }

}